*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans TC', sans-serif;
    font-style: normal;
}

.page-container {
    position: relative;
    min-height: 100vh;
    font-weight: 400;
    font-size: 16px;
    color: #666666;
}

.page-wrapper {
    padding-bottom: 204px;
    /* Footer height */
    display: grid;
    grid-template-rows: 54px 1fr;
}

.topnav-wrapper {
    grid-row: 1/2;
    position: sticky;
    display: flex;
    top: 0;
    z-index: 4;
    background-color: #FFFFFF;
    justify-content: center;
    border-bottom: 1px solid #E8E8E8;
}


/* 上方navbar */

.topnav {
    position: sticky;
    display: flex;
    grid-row: 1/2;
    width: 100%;
    top: 0;
    display: grid;
    height: 54px;
    grid-template-columns: 1fr 76px 88px;
    background-color: #FFFFFF;
    justify-content: center;
    border-bottom: 1px solid #E8E8E8;
}


/* navbar大字 */

.nav-title {
    grid-column: 1/2;
    justify-self: left;
    align-self: center;
    color: #448899;
    margin-left: 10px;
    font-weight: 700;
    font-size: 30px;
    text-decoration: none;
}

.nav-title:active {
    transform: translateY(2px);
}


/* navbar右邊兩排小字 */

.nav-item1 {
    grid-column: 2/3;
    justify-self: right;
    align-self: center;
    font-weight: 400;
    font-size: 16px;
    color: #666666;
}

.nav-item2 {
    grid-column: 3/4;
    justify-self: right;
    align-self: center;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #666666;
    background-color: #FFFFFF;
    border: none;
    margin-right: 10px;
    padding: 0;
}

.nav-item2:hover {
    font-weight: 600;
}

.nav-item2:active {
    font-weight: 600;
    transform: translateY(2px);
}

#signup {
    position: absolute;
    top: 80px;
    width: 340px;
    background-color: #FFFFFF;
    display: grid;
    grid-template-rows: 10px auto auto auto;
    z-index: 100;
    justify-content: center;
    justify-items: center;
    border-radius: 6px;
}

#backdrop {
    background: #000;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    filter: alpha(opacity=100);
    opacity: 0.5;
    display: none;
    z-index: 99;
}

#signin {
    position: absolute;
    top: 80px;
    width: 340px;
    background-color: #FFFFFF;
    display: grid;
    grid-template-rows: 10px auto auto auto;
    z-index: 100;
    justify-content: center;
    justify-items: center;
    border-radius: 6px;
}

#member-div-top {
    width: 340px;
    background: linear-gradient(270deg, #337788 0%, #66AABB 100%);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

#signin-title {
    font-family: 'Noto Sans TC';
    font-style: normal;
    width: 340px;
    text-align: center;
    color: #666666;
    font-weight: 700;
    font-size: 24px;
    line-height: 47px;
}

#close-icon {
    position: absolute;
    top: 17px;
    left: 307px;
    z-index: 101;
    background-color: #FFFFFF;
    border: none;
}

#close-icon img {
    width: 16px;
    height: 16px;
    top: 10px;
    position: absolute;
    right: 0px;
}

#close-icon:active {
    transform: translateY(2px);
}

#signin-form {
    display: grid;
    grid-template-rows: 47px 47px auto;
    gap: 10px;
}

#username,
#email,
#password {
    font-family: 'Noto Sans TC';
    font-style: normal;
    padding: 15px;
    line-height: 47px;
    font-weight: 400;
    font-size: 16px;
    color: #666666;
    border-radius: 5px;
    border: 1px solid #CCCCCC;
}

#signin-button {
    font-family: 'Noto Sans TC';
    font-style: normal;
    width: 310px;
    height: 47px;
    font-weight: 400;
    font-size: 19px;
    line-height: 47px;
    color: #FFFFFF;
    background: #448899;
    border: none;
    border-radius: 5px;
}

#signin-button:hover {
    background: #438494;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.19), 0px 5px 5px 0px rgba(0, 0, 0, 0.19);
}

#signin-button:active {
    transform: translateY(2px);
}

#signup-message,
#signin-message {
    font-weight: 400;
    font-size: 16px;
    color: red;
    text-align: center;
    margin: 10px;
}

#switch-button {
    font-family: 'Noto Sans TC';
    font-style: normal;
    height: 22px;
    line-height: 22px;
    border: none;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #666666;
    background: #FFFFFF;
    margin: 10px;
    margin-top: 0;
}

#switch-button:hover {
    font-weight: 600;
}

#switch-button:active {
    font-weight: 600;
    transform: translateY(2px);
}

#signup-form {
    display: grid;
    grid-template-rows: 47px 47px 47px auto;
    gap: 10px;
}

.content-wrapper {
    grid-row: 2/3;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.section {
    display: grid;
    /* flex-wrap: wrap; */
    grid-template-columns: 54fr 60fr;
    /* height: 480px; */
    border-bottom: 1px solid #E8E8E8;
    column-gap: 30px;
    margin-top: 37px;
    padding-bottom: 37px;
    /* align-items: center; */
    /* border-bottom-style: solid;
    border-color: #E8E8E8; */
}

.profile {
    display: grid;
    grid-template-rows: 3fr 10fr;
    /* margin-top: 15px; */
    /* height: 392px; */
}

#name {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 15px;
}

.booking {
    display: grid;
    grid-template-columns: 1fr;
    background-color: #E8E8E8;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    margin-bottom: 15px;
    /* height: 302px; */
}

.booking>button {
    width: 154px;
    height: 36px;
    background: #448899;
    border: #FFFFFF;
    border-radius: 5px;
    font-weight: 400;
    font-size: 19px;
    color: #FFFFFF;
    margin-bottom: 15px;
}

.timeInput:after {
    width: 18px;
    height: 18px;
    border-radius: 18px;
    top: -3px;
    left: -2px;
    position: relative;
    background-color: #FFFFFF;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid #FFFFFF;
}

.timeInput:checked:after {
    width: 18px;
    height: 18px;
    border-radius: 18px;
    position: relative;
    background-color: #448899;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid #FFFFFF;
}

.info {
    /* height: 442px; 會導致footer無法固定底部，會被內容區塊超過*/
    padding-top: 50px;
}

.info>div {
    margin: 20px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 104px;
    /* Footer height */
    font-weight: 700;
    font-size: 16px;
    color: white;
    background-color: #757575;
    text-align: center;
    line-height: 104px;
}

@media screen and (min-width:1200px) {
    .topnav {
        width: 1200px;
    }
    .content {
        width: 1200px;
    }
}

@media screen and (max-width:1200px) {
    .content {
        width: 100%;
    }
    .section {
        width: 100%;
    }
}

@media screen and (max-width:750px) {
    .section {
        grid-template-columns: 1fr;
    }
    .profile {
        grid-template-rows: auto auto;
    }
    .booking {
        height: 300px;
    }
}

@media screen and (max-width:360px) {
    .section {
        grid-template-columns: 1fr;
    }
    .nav-title {
        font-size: 28px;
    }
    .profile {
        grid-template-rows: auto auto;
    }
    .booking {
        height: 300px;
    }
}


/* 照片與輪播功能 */

.carousel {
    width: 100%;
    height: 406px;
    display: flex;
    position: relative;
    justify-content: center;
}

.carousel>ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.slide {
    height: 406px;
    width: 100%;
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: 200ms opacity ease-in-out;
    transition-delay: 200ms;
    /* padding-top: 37px;
    padding-bottom: 37px; */
}

.slide>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.slide[data-active] {
    opacity: 1;
    z-index: 1;
    transition-delay: 0ms;
}

.carousel-button {
    position: absolute;
    z-index: 2;
    background: none;
    border: none;
    height: 36px;
    width: 36px;
    top: 185px;
}

.carousel-button img {
    position: relative;
    width: 36px;
    height: 36px;
    top: 0;
    left: 0;
    opacity: 0.5;
}

.carousel-button:hover {
    color: white;
    background-color: rgba(0, 0, 0, .2);
    border-radius: 50%;
}

.carousel-button.prev {
    left: 10px;
    padding: 0px;
}

.carousel-button.next {
    right: 10px;
    padding: 0px;
}

.data-switch-input {
    position: absolute;
    z-index: 3;
    bottom: 13px;
    background: none;
    border: none;
}

.data-switch-input-btn:after {
    width: 12px;
    height: 12px;
    margin: 3px;
}

.data-switch-input-btn:checked:after {
    position: relative;
    border-radius: 12px;
    top: -3px;
    left: -3px;
    background-color: #000000;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid #FFFFFF;
}