body {
    font-family: 'Noto Sans TC', sans-serif;
    display: grid;
    font-style: normal;
    grid-template-rows: 54px 1fr;
}


/* 上方navbar */

.topnav-wrapper {
    display: flex;
    position: sticky;
    grid-row: 1/2;
    width: 100%;
    top: 0;
    background-color: #FFFFFF;
    justify-content: center;
}

.topnav {
    display: grid;
    height: 54px;
    grid-template-columns: 1fr 76px 88px;
    background-color: #FFFFFF;
}


/* navbar大字 */

.nav-title {
    grid-column: 1/2;
    justify-self: left;
    align-self: center;
    color: #448899;
    margin-left: 10px;
    font-weight: 700;
    font-size: 30px;
    cursor: pointer;
    padding-left: 10px;
}


/* navbar右邊兩排小字 */

.nav-item1 {
    grid-column: 2/3;
    justify-self: right;
    align-self: center;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #666666;
    border: none;
    background-color: #FFFFFF;
    cursor: pointer;
}

#nav-item1-a:visited,
#nav-item2-a:visited {
    color: #666666;
    ;
}

.nav-item2 {
    grid-column: 3/4;
    justify-self: right;
    align-self: center;
    font-family: 'Noto Sans TC', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #666666;
    background-color: #FFFFFF;
    border: none;
    margin-right: 10px;
    padding: 0;
    cursor: pointer;
}


/* 
.nav-item1:hover,
.nav-item2:hover {
    font-weight: 600;
} */


/* .nav-item1:active,
.nav-item2:active {
    font-weight: 600;
    transform: translateY(2px);
} */

#backdrop {
    background: #000;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    filter: alpha(opacity=100);
    opacity: 0.5;
    display: none;
    z-index: 99;
}

#signup {
    position: absolute;
    top: 80px;
    width: 340px;
    background-color: #FFFFFF;
    display: grid;
    grid-template-rows: 10px auto auto auto;
    z-index: 100;
    justify-content: center;
    justify-items: center;
    border-radius: 6px;
}

#signin {
    position: absolute;
    top: 80px;
    width: 340px;
    background-color: #FFFFFF;
    display: grid;
    grid-template-rows: 10px auto auto auto;
    z-index: 100;
    justify-content: center;
    justify-items: center;
    border-radius: 6px;
}

#member-div-top {
    width: 340px;
    background: linear-gradient(270deg, #337788 0%, #66AABB 100%);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

#signin-title {
    font-family: 'Noto Sans TC';
    font-style: normal;
    width: 340px;
    text-align: center;
    color: #666666;
    font-weight: 700;
    font-size: 24px;
    line-height: 47px;
}

#close-icon {
    position: absolute;
    top: 17px;
    left: 307px;
    z-index: 101;
    background-color: #FFFFFF;
    border: none;
    cursor: pointer;
}

#close-icon img {
    width: 16px;
    height: 16px;
    top: 10px;
    position: absolute;
    right: 0px;
}


/* #close-icon:active {
    transform: translateY(2px);
} */

#signin-form {
    display: grid;
    grid-template-rows: 47px 47px auto;
    gap: 10px;
}

#username,
#email,
#password {
    font-family: 'Noto Sans TC';
    font-style: normal;
    padding: 15px;
    line-height: 47px;
    font-weight: 400;
    font-size: 16px;
    color: #666666;
    border-radius: 5px;
    border: 1px solid #CCCCCC;
}

#signin-button {
    font-family: 'Noto Sans TC';
    font-style: normal;
    width: 310px;
    height: 47px;
    font-weight: 400;
    font-size: 19px;
    line-height: 47px;
    color: #FFFFFF;
    background: #448899;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#signin-button:hover {
    background: #438494;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.19), 0px 5px 5px 0px rgba(0, 0, 0, 0.19);
}

#signin-button:active {
    transform: translateY(2px);
}

#signup-message,
#signin-message {
    font-weight: 400;
    font-size: 16px;
    color: red;
    text-align: center;
    margin: 10px;
}

#switch-button {
    font-family: 'Noto Sans TC';
    font-style: normal;
    height: 22px;
    line-height: 22px;
    border: none;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #666666;
    background: #FFFFFF;
    margin: 10px;
    margin-top: 0;
    cursor: pointer;
}


/* #switch-button:hover {
    font-weight: 600;
} */


/* #switch-button:active {
    font-weight: 600;
    transform: translateY(2px);
} */

#signup-form {
    display: grid;
    grid-template-rows: 47px 47px 47px auto;
    gap: 10px;
}


/* hero區塊 */

.hero-wrapper {
    width: 100%;
    height: 320px;
    background-image: linear-gradient(135deg, #AADDEE 0%, #66AABB 100%);
}


/* hero背景圖 */

.hero-img {
    background-image: url('../photos/welcome.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    padding: 0 10px;
    display: block;
}

.hero {
    display: grid;
    margin: 0 auto;
    height: 320px;
    padding: 0 10px;
    align-items: center;
}


/* hero大字 */

.hero-head {
    margin-left: 10px;
    font-size: 28px;
    font-weight: 700;
    color: #F8F8F8;
}


/* hero小字 敘述文字 */

.hero-text {
    font-size: 16px;
    font-weight: normal;
    margin-top: 15px;
    margin-left: 10px;
    color: #F8F8F8;
}


/* hero搜尋輸入框 */

.hero-input {
    display: grid;
    grid-template-columns: 40fr 6fr;
    height: 46px;
    text-align: left;
    margin-top: 25px;
    margin-left: 10px;
}

#keyword {
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #757575;
    padding-left: 15px;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}


/* hero搜尋按鈕 */

.hero-input button {
    grid-column: 2/3;
    width: 60px;
    height: 46px;
    border: none;
    background-color: #448899;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
}


/* hero搜尋按鈕圖示 */

.search-icon img {
    width: 30px;
    height: 30px;
    line-height: 23px
}

.content-wrapper {
    margin-top: 55px;
    justify-content: center;
}

.content {
    display: flex;
    flex-wrap: wrap;
    background-color: #ffffff;
    margin-bottom: 55px;
}

[id^="box"] {
    flex: none;
    float: left;
    display: grid;
    grid-template-rows: 170px 50px 30px;
    width: 270px;
    height: 250px;
    margin: 12px;
    border-radius: 5px;
    border: 1px solid #E8E8E8;
    text-align: center;
    grid-template-areas: "img img" "name name" "mrt category";
    text-decoration: none;
    /* box已從<div>改為<a>元素作為連結，把連結底線去掉 */
}

[id^="box"]:hover {
    /* transform: scale(1.03); */
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.19), 0px 5px 5px 0px rgba(0, 0, 0, 0.19);
}

[id^="box"] img {
    grid-area: img;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: none;
}

#spinner {
    background-image: url("../photos/spinner7.gif");
    grid-area: img;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80px 80px;
}

[id^="name"] {
    grid-area: name;
    text-align: left;
    align-self: center;
    grid-area: name;
    font-size: 16px;
    font-weight: 700;
    margin: 10px;
    color: #757575;
}

[id^="mrt"] {
    grid-area: mrt;
    max-height: 100%;
    text-align: left;
    grid-area: mrt;
    font-weight: normal;
    font-size: 16px;
    margin: 0 10px 10px;
    color: #757575;
}

[id^="category"] {
    grid-area: category;
    max-height: 100%;
    text-align: right;
    grid-area: category;
    font-weight: normal;
    font-size: 16px;
    margin: 0 10px 10px;
    color: #757575;
}


/* 最底部區塊 */

.footer {
    width: 100%;
    font-size: 16px;
    height: 104px;
    color: white;
    background-color: #757575;
    text-align: center;
    line-height: 104px;
    /* margin-top: 55px; */
}


/* 無此景點顯示文字 */

#errMsg {
    font-size: 30px;
    margin-bottom: 55px;
}

@media screen and (min-width:1200px) {
    .topnav {
        width: 1200px;
    }
    .hero {
        width: 1200px;
    }
    .hero-input {
        width: 460px;
    }
    .content {
        display: flex;
        flex-wrap: wrap;
        width: 1200px;
        margin: auto auto 55px auto;
    }
    [id^="box"] {
        width: 22.5%;
        object-fit: cover;
    }
}

@media screen and (max-width:1200px) {
    .topnav {
        width: 100%;
    }
    .hero-img {
        height: 100%;
        background-size: auto;
    }
    .hero-input {
        width: 460px;
    }
    .content {
        margin-left: 20px;
    }
    [id^="box"] {
        width: 45%;
    }
    [id^="box"] img {
        width: 100%
    }
}

@media screen and (max-width:600px) {
    .topnav_r {
        display: none;
    }
    .nav-title {
        font-size: 28px;
    }
    .hero-img {
        background-size: 80%
    }
    .hero-input {
        width: 100%;
        grid-template-columns: 210px 60px;
    }
    .content {
        margin-left: 5px;
    }
    [id^="box"] {
        width: 90%;
    }
}