<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap" rel="stylesheet">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>台北一日遊</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/index.css') }}">

</head>

<body id="body" onload="loggedIn();">

    <div class="topnav-wrapper ">
        <!-- backdrop要跟跳出視窗放在同一層，z-index才會正確起作用 -->
        <div id="backdrop"></div>
        <div class="topnav ">
            <div class="nav-title ">台北一日遊</div>
            <button class="nav-item1" id="nav-item1"><a id="nav-item1-a" style="text-decoration: none;">預定行程</a></button>
            <button class="nav-item2" id="nav-item2">註冊/登入</button>
        </div>
    </div>
    <div class=" wrapper " id="wrapper">

        <div class="hero-wrapper ">
            <div class="hero-img ">
                <div class="hero">
                    <div>
                        <div class="hero-head">輕鬆享受台北一日悠閒</div>
                        <div class="hero-text">探索每個角落，體驗城市的深度旅遊行程</div>
                        <div class="hero-input">
                            <input id="keyword" type="text " placeholder="輸入景點名稱查詢 ">
                            <button onclick="searchKeyword()"><img src="{{url_for( 'static', filename='photos/icon_search.png' )}} "/></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="content-wrapper">
            <div class="content" id="content">

            </div>
        </div>

        <div class="footer">
            <div id="footer">COPYRIGHT © 2021 台北一日遊</div>
        </div>
        <div id="end"></div>
    </div>
    <script type="text/javascript " src="../static/script/index.js"></script>
    <script type="text/javascript " src="../static/script/member.js"></script>

</body>

</html>